name: Build docker image

on:
  push:
    branches:
    - main

    tags:
    - '*'

  pull_request:

env:
  BASE_IMAGE_STABILITY_TAG: 4.75.1
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  drupal-cms:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64
      - uses: docker/setup-buildx-action@v3
      - uses: ./.github/actions
        with:
          version: '1.2.8'
          php_ver: '8.4'
          tags: 1,1.2,latest
          platform: linux/amd64,linux/arm64  
